a
    text-decoration: none
    color: #ffffff80
    &:focus
        outline: none
ul
    margin: 0
    li
        margin: 0 5px

.active
    color: white
    font-weight: bold

button
    height: 35px
    width: 90px
    text-align: center
    color: #008cff
    background: none
    border: solid 1px #008cff
    border-radius: 5px
    cursor: pointer
    font-weight: bold
    transition: .2s ease-in
    &:hover
        color: white
        background: #008cff
input[type="text"]
        height: 35px
        width: 220px
        border-radius: 10px
        border: none
        padding-left: 5px
        &:focus
            outline: none
#content
<<<<<<< HEAD
    h4
=======
    .info
>>>>>>> ce80a04996d90111a811983a28df1e8db17ae02d
        color: #cdffe6
        background-color: #424242
        margin: 6px 0px
        border-radius: 5px
        padding-left: 4px
        font-weight: lighter
<<<<<<< HEAD
=======
        position: relative
>>>>>>> ce80a04996d90111a811983a28df1e8db17ae02d
#social
    ul
        list-style-type: none
        li
            display: inline
.fa-facebook
    &:hover
        color: #3578e5
<<<<<<< HEAD
.fa-discord 
=======
.fa-discord
>>>>>>> ce80a04996d90111a811983a28df1e8db17ae02d
    &:hover
        color: #7289da
.fa-twitter
    &:hover
        color: #007bff
p
    font-family: 'Open Sans', sans-serif
    font-weight: lighter
    color: white
    span
<<<<<<< HEAD
        color: #f4fcd1
=======
        color: #f4fcd1
#box
    position: absolute
    top: 8px
    left: 5px
    height: 10px
    width: 10px
    border-bottom: 1px solid white
    border-right: 1px solid white
    &.rotate
        transform: rotateZ(-45deg)
    &.rotated
        transform: rotateZ(45deg)
.sub
    margin-left: 20px
.hide
    display: none
.show
    display: block
>>>>>>> ce80a04996d90111a811983a28df1e8db17ae02d
