/** 
 Font import containing the following fonts:-
 1. "Sigmar One", cursive
 2. "Open Sans", sans-serif
 3. 'Open Sans Condensed', sans-serif;
 **/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Sigmar+One&display=swap');
body
    background: #252525
    font-family: "Sigmar One", cursive //sets default font of the page to 'Sigmar One' or cursive when sigmar is not supported
    margin: 0
    overflow-x: hidden
    padding: 0
header
    margin: 0
    padding: 0
    nav
        background: #343a40
        height: 30px
        margin: 0
        padding: 30px 20px
        width: 100%
        > * // this selector is used to select and change the css of all the children in the parent element
            display: inline-block
        #logo
            a
                color: white
                font-weight: bold
        form
            position: absolute
            right: 20px

#content
    background: #232931
    margin: 20px 40px
    padding: 5px 5px
    width: 55%
    figure
        height: 300px
        margin: 0 2px
        img
            height: 100%
            width: 100%
    .highlights
        p
            margin: 10px 40px 0 0px
            padding-left: 20px
<<<<<<< HEAD
            padding-right: 50px
=======
            padding-right: 50px
>>>>>>> ce80a04996d90111a811983a28df1e8db17ae02d
