body 
    background: black
    color: white //sets default color of text to white
    text-align: center //align every elements to center
header 
    font-family: "Sigmar One", cursive //sets the font family to Sigmar one of text elements inside header
    nav
        position: fixed
        transition: .6s ease-in
        #box
            border-bottom: 1px solid #fff
            border-left: 1px solid #fff
            left: -25px
            top: 6px
            height: 20px
            width: 20px
            position: absolute
            cursor: pointer
            transition: .6s ease-in
        .rotate
            transform: rotatez(45deg)
        .rotated
            transform: rotate(225deg)
        button
            border: solid 1px white
            background: none
            height: 35px
            width: 100px
            margin: 0 2.5px
            color: white
            font-weight: bolder
            transition: .4s ease-in
            &:hover
                background: #fff
                color: #000
    .slide
        right: -14%
    .slided
        right: 20px
    h1
        font-size: 30px
        font-weight: 100 //sets font weight i.e light/bold etc
    p 
        font-family: cursive
        font-size: 20px 
    img 
        border-radius: 60px
        margin: 0 auto //sets top and bottom margin to 0 and left and right margin to auto
div 
    color: white
    font-family: cursive
footer 
    #social
        a 
            color: white
            text-decoration: none
        .fa-facebook
            &:hover
                color: #3578e5
        .fa-discord
            &:hover 
                color: #7289da